<div class="dt tc w-100 pv3">
{% if site.twitter_username %}
<div class="dib f4-l f5-m f6 dtc">
  <a href="https://twitter.com/{{site.twitter_username}}" class="black no-underline" target="_blank" rel="nofollow">
    <img src='https://icon.now.sh/twitter' alt='twitter icon' class="v-mid" />
    <span class="v-mid">Twitter</span>
  </a>
</div>
{% endif %}

{% if site.instagram_username %}
<div class="dib f4-l f5-m f6 dtc">
  <a href="https://instagram.com/{{site.instagram_username}}" class="black no-underline" target="_blank" rel="nofollow">
    <img src='https://icon.now.sh/instagram' alt='instagram icon' class="v-mid" />
    <span class="v-mid">Instagram</span>
  </a>
</div>
{% endif %}

{% if site.facebook_username %}
<div class="dib f4-l f5-m f6 dtc">
  <a href="https://www.facebook.com/{{site.facebook_username}}" class="black no-underline" target="_blank" rel="nofollow">
    <img src='https://icon.now.sh/facebook' alt='facebook icon' class="v-mid" />
    <span class="v-mid">Facebook</span>
  </a>
</div>
{% endif %}
</div>
